<div class="login">
  <section class="login__card" >
    <div>
      <img class="logo"
      src="../../../assets/logo.svg"
      alt="company logo"
      routerLink="/">
      <p class="card__title">
        welcome <br> back
      </p>
      <p class="card__footer">
        Don't have an account ? <br>
        <a href="">
          Sign up
          <mat-icon>exit_to_app</mat-icon>
        </a>
      </p>
    </div>
  </section>
  <section class="login__form">
    <div class="form__header">
      Welcome back
      <p>Let's sign you in.</p>
    </div>
    <form #from="ngForm" >
      
    </form>
  </section>
</div>
